<ion-header no-border>
    <ion-navbar  [hidden]="!buttonClicked2" no-border transparent>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      
      <ion-buttons end class="pad">
        <button ion-button icon-only color="light" (click)="onButtonClick()">
          <ion-icon name="search" color="light"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
      <!-- Search Event -->
      <div *ngIf="buttonClicked">
        <ion-row text-center center>
          <ion-col col-1 class="ran" center >
              <ion-icon style="zoom:1.6" color="theme"  name="arrow-round-back" (click)="onButtonClick()" text-center></ion-icon>
          </ion-col>
          <ion-col col-10><ion-input [(ngModel)]="terms" placeholder="Carian..."></ion-input></ion-col>
        </ion-row>
    </div>
    <!-- Done Search Event -->
  </ion-header>


  <ion-content class="bg">
      <div padding>
        <ion-chip>
          <ion-avatar item-start>
            <ion-text-avatar>></ion-text-avatar>
          </ion-avatar>
          <ion-label style="font-weight: bold" class="color">
            Senarai Bayaran
          </ion-label>
        </ion-chip>
    
        <ion-card class="card4" *ngFor="let item of items | search : terms | sort: {property: column, order: order}">
          <ion-item color="white">
            <ion-row>
              <ion-col col-6 text-wrap>
                <div class="inlist2">{{item.description}}</div>
                <p class="ita">{{item.no_sb}}</p>
              </ion-col>
              <ion-col text-right>
                <p>Jam :{{(item.jam)}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Butiran:
                <p>Tarikh Buka : {{(item.tarikhbuka)?.substring(8,10)}}/{{(item.tarikhbuka)?.substring(5,7)}}/{{(item.tarikhbuka)?.substring(0,4)}}</p>
                <p>Tarikh Tutup : {{(item.tarikhtutup)?.substring(8,10)}}/{{(item.tarikhtutup)?.substring(5,7)}}/{{(item.tarikhtutup)?.substring(0,4)}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button ion-button outline>
                    RM {{(item.harga)}} <!--{{(item.harga)?.toFixed(2)}}-->
                </button></ion-col>
              <ion-col text-right> <button ion-button icon-only (click)="pay(item.id_kodtransaksi)">
                  <ion-icon name="arrow-dropright-circle"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-card>
    
        
      </div>
    
    
    
    </ion-content>