page-display {
    .card2 {
        border-radius: 5px;
        overflow: hidden;
      }

      ion-grid {
        height: 4em;
      }
      input {
        font-size: 16px;
    }

    .scan-button {
      width: 99%;
      height: 8vh;
      background-color: #6f00ff;
      border-radius: 10px;
  }
  .small{
      color: forestgreen;
      border-radius: 2px;
  }
  .small2{
      color: #6f00ff;
      border-radius: 2px;
  }
}
