<ion-header>
  <ion-navbar color="theme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imgs/scan.png" style="height: 30vh; width: 100vw;" />
  </ion-card>

<ion-card>
  <ion-toolbar>
      <ion-segment [(ngModel)]="category" color="theme">
      <ion-segment-button value="all">
      All
      </ion-segment-button>
      <ion-segment-button value="in">
      Money In
      </ion-segment-button>
      <ion-segment-button value="out">
      Money Out
      </ion-segment-button>
      </ion-segment>
    </ion-toolbar>


    <div [ngSwitch]="category">
        <div *ngSwitchCase="'all'" ng-selected="selected">
          <ion-list *ngFor="let item of items">
            <!-- <ion-list *ngFor="let item of items | search : terms | sort: {property: column, order: order}"> -->
            <ion-card class="card2" (click)="viewEntry({ record: item })">
              
                <ion-item text-wrap>
                    <ion-row>
                        <ion-col>
                    <text-avatar item-start [text]="item.daripada" [color]="item.color" item-left></text-avatar>
                  </ion-col>
                  <ion-col>
                    <ion-icon name="arrow-round-forward" style="zoom:1.0; color: rgb(66, 21, 46)"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <text-avatar [text]="item.kepada" [color]="item.color" item-left></text-avatar>
                </ion-col>
                <ion-col>
                    <h2><b>{{(item.jumlah)?.toFixed(2)}}</b></h2>
                    {{(item.tarikh)?.substring(8,10)}}/{{(item.tarikh)?.substring(5,7)}}/{{(item.tarikh)?.substring(0,4)}}
                    <br>
                    {{item.daripada}}
                    •
                    {{item.kepada}}
                    
                  </ion-col>
                </ion-row>
                  </ion-item>
            </ion-card>
            </ion-list>
          </div>
        <div *ngSwitchCase="'in'" ng-selected="selected">Money In php select query in progress</div>
        <div *ngSwitchCase="'out'" ng-selected="selected">Money Out php select query in progress</div>
    </div>
</ion-card>
</ion-content>