<ion-header no-border>
  <ion-navbar transparent >
    <button ion-button menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-refresher slot="fixed"  class="inv" 
  (ionRefresh)="ionRefresh($event)" 
  (ionPull)="ionPull($event)" 
  (ionStart)="ionStart($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <div padding text-center>
        <div>
          <ion-slides>
            <ion-slide>
              <ion-card class="card2">
                <div>
                  <img src="assets/imgs/card.png" (click)="slide()" />
                </div>
              </ion-card>
            </ion-slide>   
          </ion-slides>
        </div>
      </div>
  
  <span class="top_line" *ngFor="let type of types">
    <ion-card class="card3" *ngIf="type.displayx!='0'">
    <ion-item color="white" (click)="gotoSenarai2(type.id_jenistransaksi)">
      <p class="inlist" text-wrap>{{type.jabatan}}</p>
    </ion-item></ion-card>
  </span>

<ion-fab bottom right style="zoom:1.4;" (click)="scanToPay()">
    <button ion-fab mini>
      <ion-icon name="qr-scanner"></ion-icon>
    </button>
</ion-fab>
</ion-content>