page-historydetail {
<<<<<<< HEAD
    .inv{
        color: white;
        
      }
      .has-refresher>.scroll-content {
=======
    .has-refresher>.scroll-content {
>>>>>>> f5da79947273ddf617669c38b99b2b4d2e813fe9
        border-top: 0;
    } 
}
.card4{
    border-radius: 7px;
 
}