page-historydetail {
    .inv{
        color: white;
        
      }
      .has-refresher>.scroll-content {
        border-top: 0;
    } 
.col{
    color: #2e3192;
}


}
.card4{
    border-radius: 7px;
 
}