page-history {
    .small{
        color: forestgreen;
        border-radius: 2px;
    }
    .small2{
        color: #6f00ff;
        border-radius: 2px;
    }
    .tajuk{
        border-radius: 2px;
    }
}
